body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #edeae5;
}

.pictures {
	background-color: #8C7AA2;
	width: 100%;
	height: 100%;
}

.grid-item {
	width: 30%;
}

.header {
	background-color: #8C7AA2;
}
.static-banner {
	font-size: 100px;
	color: white;
	margin: 20px;
}