body {	/*the outer layer of the site and global style attributes*/
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0px;
background: #edeae5;
}

/* Main Page */

#background {
	background: url('background.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: absolute;
}

#hero {
	color: white;
	top: 30%;
	left: 90px;
	position: absolute;
	text-align: left;
}

#subheading {
	font-size: 25px;
}

#heading {
	font-size: 40px;
}

#header-container {
	height: 100%;
	width: 100%;
}

.button {
	color: white;
	margin: 20px;
	cursor: pointer;
	transition: 200ms;
}

.button:hover {
	transform: scale(1.2);
	color: #3366cc;
}

#menu {
	position: fixed;
	right: 0;
}

#gallery {
	position: fixed;
}

/* Photo Gallery */

#modal-container {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 90;
	display: none;
}

#modal-overlay{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.75);
}

#modal-content {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 80%;
	color: white;
	position: absolute;
	text-align: center;
}

#modal-heading {
	font-size: 25px;
	margin: 25px;
}

/* HIDE PERU, EUROPE, THAIAND WHEN HOVERING OVER THE IMAGES
MAKE IMAGE CONTAINER CENTER (vertically)
opacity for the photo gallery seems harsh and quick*/

.grid {

}

.ind-loc-container {
	width: 300px;
	height: 300px;
	overflow: hidden;
	display: inline-block;
}

.country {

	top: 35%;
	z-index: 110;
	position: absolute;
	margin: 10px;
	font-size: 20px;
	display: none;
}

.grid-item {
	height: 100%;
	overflow: hidden;
	margin: 5px;
	float: left;
	transition: 700ms;
}

.grid-item:hover {
	transform: scale(1.1);
	opacity: 0.5;
}

/*I want to make the pictures centered if there isn't enough room to put three of them in a row*/


/*SHOW ROOM*/
.container {
	position: relative;
}

.main-menu {
	background-color: #51376E;
	height: 50px;
	width: 100%;
	position: fixed;
}

.spacer {
	height: 50px;
	width: 100%;
}

.color {
	background-color: #281042;
	height: 60px;
	width: 100%;
}

.header {
	background-color: #8C7AA2;
	height: 120px;
	margin: 50px;
}

.second-menu {
	background-color: #6A5285;
	height: 60px;
}

.pictures {
	background-color: #8C7AA2;
	height: 500px;
}

.text {
	background-color: black;
	height: 200px;
	width: 40%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}